.advantage-block {
    @apply flex flex-col md:flex-row gap-12 justify-center md:even:flex-row-reverse md:my-8;

    .left-block, .right-block {
        @apply flex flex-1 justify-center flex-col ;
    }

    .left-block {
        @apply flex-1 items-center;

        .image-wrapper {
            @apply relative overflow-hidden w-full;
        }

        img {
            @apply object-contain mx-auto max-w-[250px];
        }
    }

    .right-block {
        @apply gap-8;
        
        h2 {
            @apply text-2xl md:text-3xl uppercase text-center md:text-left;
        }

        p {
            @apply text-lg md:text-2xl text-center md:text-left;
        }
    }


}