@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@/styles/variables";

@layer base {
  :root {
    --color-neutral-900: rgb(51, 51, 51);
    --color-neutral-100: rgb(204, 204, 204);
  }

  ::selection {
    @apply bg-lightBgColor;
  }
}

.theme-light {
  --neutralBg: theme("colors.white");
  --onNeutralBg: var(--color-neutral-900);
  --primaryBg: theme("colors.gray.500");
  --onPrimaryBg: var(--color-neutral-100);
}

.theme-dark {
  --neutralBg: theme("colors.black");
  --onNeutralBg: var(--color-neutral-100);
  --primaryBg: theme("colors.black");
  --onPrimaryBg: var(--color-neutral-100);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a {
  cursor: pointer;
}

.container {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
}

.wrapper {
  @apply px-3;

  @media (min-width: 768px) {
    @apply px-8;
  }

  @media (min-width: 1024px) {
    @apply px-16;
  }
}

.main-section {
  @apply py-[3rem] lg:py-[5rem];

  .section-title {
    @apply text-h2TextColor uppercase font-semibold lg:font-medium mb-[1rem] shadow-none leading-none;
    font-size: clamp(3.2rem, 10vw, 7rem);
  }

  &.faq-section {
    @apply relative;
    .wrapper {
      &:after {
        @apply bg-no-repeat;
        display: block;
        position: absolute;
        top: 10rem;
        right: 15%;
        content: "";
        width: 200px;
        height: 300px;
        background-image: url("/assets/svg/question-mark.svg");
        background-size: 200px;
        background-position: center right;
      }
    }
  }
}
