.course-tile-container {
    @apply grid pt-6 md:pt-14 gap-7 ;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    gap: 1rem; 
    
    @media (width >= 768px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto;
    }

    @media (width >= 1200px) {
        grid-template-columns: repeat(3, 1fr);
    }
}

.course-tile {
    @apply flex flex-col bg-darkBgColor rounded-[2rem] flex-1 p-[20px] w-full;

    &:nth-child(even) {
        @apply bg-lightBgColor;

        .course-tile--time,
        .course-tile--link {
            @apply bg-darkBgColor;
        }
    }

    &--time {
        @apply py-[8px] px-[20px] rounded-[2rem] bg-lightBgColor self-end select-none;
    }

    &--title {
        @apply uppercase text-[36px] md:text-[48px] leading-none font-light mb-7;
    }

    &--description {
        @apply text-[16px] mb-14;
    }

    &--link {
        @apply text-[20px] text-center w-full rounded-[2rem] bg-lightBgColor cursor-pointer py-3 hover:shadow-md transition-all;
    }
}
