.table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;

    tr {
        width: 200px;
    }
}

.prices {
    @screen lg {
        @apply grid grid-cols-2 gap-y-8 gap-x-8;
    }

    .price:nth-child(2n + 1) .price--title::before {
        background-color: #f5d5cb;
        color: white;
    }
}

.price {
    @apply flex flex-col grow lg:px-7;

    &--block {
        @apply flex flex-row md:p-4 rounded-[2rem] transition-all duration-300 lg:bg-[#e5e5da];

        &:hover {
            @apply md:shadow-baseShadow;

            .decorative-pill {
                @apply md:shadow-baseHoverShadow;
            }
        }

        .decorative-pill {
            @apply hidden lg:block min-w-[70px] w-[10%] h-[100%] max-h-[150px] rounded-[3rem] bg-[#f5d5cb] shadow-baseShadow transition-all;
        }
    }

    &--title {
        @apply relative text-black text-[2rem] lg:text-[2.5rem] cursor-pointer uppercase md:min-w-[25%] leading-none;
        font-weight: 500;
    }

    &--description {
        @apply py-2 pr-5 pl-2 flex-1 select-none;
    }

    &--category {
        @apply text-[16px] flex items-center  m-0;
    }

    &--amount {
        @apply flex-1 text-end text-priceColor text-[18px] min-w-[5rem] flex justify-end items-end;
    }
}
