.hero {
    overflow: hidden;
    background-image: url("/assets/images/hero/hero--mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100svh;

    @media (min-width: 768px) {
        background-image: none;
        background-color: #f6f6eb;
        height: 100vh;
    }

    @media (max-width: 768px) {
        &__brows_page {
            background-image: url("/assets/images/hero/hero__brows.jpg");
        }
    }

    &__text {
        color: #fff;
        font-size: clamp(40px, 20vw, 80px);
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;
        line-height: 95%;
        opacity: 0.4;
        margin-top: 100%;

        @apply md:hidden;
    }

    &-content {
        @apply hidden md:block
    }

    // &__eyelashes_page {
    //     background-image: url("/assets/images/services/service--brows.jpg");
    // }

    // &__permanent_page {
    //     background-image: url("/assets/images/services/service--brows.jpg");
    // }
}

.menu-container {
    @apply hidden md:flex bg-white md:h-[100px] w-[90%] shadow-md rounded-[10rem] mx-auto mt-6;
    // Transparent glasses
    // background: rgba(255, 255, 255, 0.13);
    // box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    // backdrop-filter: blur(5px);
    // -webkit-backdrop-filter: blur(5px);
    // border: 1px solid rgba(255, 255, 255, 0.3);

    &.active {
        @apply fixed top-0 left-0 right-0 z-50;
    }

    .navigation-links {
        @apply flex w-full justify-center items-center max-w-[70%] mx-auto;

        .link {
            @apply cursor-pointer relative uppercase text-black font-bold h-full px-8 flex flex-1 justify-center items-center transition-all text-center;

            &:hover {
                background-color: #e5e5dab4;
            }
        }

        .drop-down {
            &:hover {
                .drop-down--list {
                    transform: scale(1, 1);
                }
            }

            &--list {
                @apply absolute block top-full w-full shadow-md transition-all duration-200 origin-top rounded-b-lg;
                transform: scale(100%, 0);

                .link {
                    @apply bg-white py-4 hover:bg-[#e5e5daec];

                    &:last-child {
                        @apply rounded-b-lg;
                    }
                }
            }
        }

        select {
            @apply bg-transparent cursor-pointer;
        }
    }
}
