.hero {
    // background-image: url("/public/assets/images/hero/hero--mobile.jpg");
    background-image: url("/assets/images/hero/hero--mobile.jpg");
    background-size: cover;
    height: 100vh;
    max-height: 600px;
    @apply flex items-end;

    .text {
        color: #fff;
        font-size: 80px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;
        line-height: 95%;
    }
}
