.content-block {
    .content:nth-child(even) {
        flex-direction: row-reverse;

        .service--content-block {
            padding-right: 3rem;
        }
    }

    .content:nth-child(odd) {
        .service--content-block {
            padding-left: 3rem;
        }
    }
}
