.navBar {
    @apply text-black bg-transparent fixed top-0 left-0 right-0 z-[9999] flex justify-between flex-col transition-all duration-300;

    &.show {
        @apply translate-y-0;
    }

    &.hide {
        @apply md:-translate-y-full;
    }

    .mobile-menu {
        @apply flex md:hidden justify-between items-center z-[50] relative p-4;
    }
}

.menuButton {
    @apply text-black;
}

.mobile-menu-wrapper {
    @apply fixed z-40 min-h-[100vh] flex items-center justify-center flex-col md:hidden max-h-[80vh] overflow-y-auto origin-top translate-x-[100%] duration-300 opacity-0 pointer-events-none;
    inset: 0;
    overflow-y: auto;

    &.active {
        @apply block h-full min-h-[100vh] bg-white md:hidden translate-x-0 opacity-100 pointer-events-auto;
    }

    .menu {
        @apply flex justify-center items-center flex-col text-mobileMenu;
        margin-bottom: 50px;

        .link {
            @apply uppercase;
        }
    }
}

.interactive-btn {
    @apply uppercase relative block duration-300;
    &::after {
        content: "";
        position: absolute;
        right: -15px;
        top: 15px;
        background-image: url("/assets/svg/arrow--icon.svg");
        background-size: contain;
        width: 8px;
        height: 5px;
    }
    &.active {
        ~ .courses-menu {
            height: 100%;
            transform: scaleY(1);
        }

        &::after {
            content: "";
            transform: rotate(-180deg);
        }
    }

    ~ .courses-menu {
        height: 0;
        transform: scaleY(0);
        transition: transform 0.3s ease;
    }
}

.menu-btn {
    @apply w-[40px] h-[40px] bg-white/50 md:hidden cursor-pointer flex justify-center items-center z-50 rounded-full;
}

.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
    background: black;
    content: "";
    position: absolute;
    width: 19px;
    height: 2px;
    margin-top: 0;

    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotateY(180deg);

    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

.menu-btn span::before {
    margin-top: -7px;
}

.menu-btn span::after {
    margin-top: 7px;
}

.menu-btn.active span {
    background: transparent;
}

.menu-btn.active span::before {
    margin-top: 0;

    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.menu-btn.active span::after {
    margin-top: 0;

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.menu-btn.active {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);

    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}
