.content-block {
    @apply md:flex md:flex-col;

    .content-section {
        @apply relative mt-[5rem] pb-[3rem] md:pb-0;

        .container {
            @apply md:p-12 md:rounded-[4rem] max-w-[71rem];
            
            @media (min-width: 768px) {
                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                border: 1px solid rgba(255, 255, 255, 0.3);
            }
        }
    }

    .content-section:nth-child(even) {
        .content {
            flex-direction: row-reverse;

            .service--content-block {
                @apply md:pr-12;
            }
        }
    }

    .content-section:nth-child(odd) {
        .content {
            .service--content-block {
                @apply md:pl-12;
            }
        }
    }
}

.service {
    &--image-block {
        aspect-ratio: 1/1;
        @apply relative w-full h-[333px] md:h-[340px] md:max-w-[340px] md:min-w-[300px] overflow-hidden rounded-[3rem];
    }

    &--title {
        @apply text-[32px] my-5 uppercase leading-[95%];

        span {
            font-weight: 600;
        }
    }

    &--content-block {
        @apply text-sm text-justify md:flex md:flex-col md:max-w-[700px] md:p-0;
    }

    &--decorative-number {
        @apply absolute bottom-0 right-0 z-50 text-[100px] font-semibold text-bigNumber;
    }

    &--list {
        @apply list-disc pl-7 mt-2 text-lg;
    }

    &--details-block {
        @apply flex flex-col pt-5 md:flex-row md:flex-wrap md:items-start md:mt-auto;
    }

    &--detail {
        @apply flex justify-between text-xl md:gap-2;

        p {
            @apply uppercase;
        }

        span {
            @apply font-medium min-w-[110px];
        }
    }
}
