.service-wrapper {
    @screen lg {
        .tile:first-child .image,
        .tile:first-child .opacity-layout {
            @apply rounded-tl-[2rem] rounded-bl-[2rem];
        }

        .tile:last-child .image,
        .tile:last-child .opacity-layout {
            @apply rounded-tr-[2rem] rounded-br-[2rem];
        }
    }
}

.service-title {
    @apply z-50 relative text-[46px] lg:text-[64px] uppercase md:flex md:justify-center transition-all;
}

.tile {
    @apply text-white relative block mb-[40px] lg:mb-0 last:mb-0;

    &__decorative-number {
        @apply z-50 absolute right-1 bottom-1 font-semibold leading-[100%];
        font-size: 7rem;
    }

    .image {
        @apply h-[280px] md:h-[300px] rounded-[2rem] lg:rounded-none;
        background-size: cover;

        &.brows {
            background-image: url("/assets/images/services/service--brows.jpg");
        }

        &.eyelashes {
            background-image: url("/assets/images/services/service--eyelashes.jpg");
        }

        &.pmu {
            background-image: url("/assets/images/services/service--pmu.jpg");
        }
    }
}

.arrow-more__container {
    @apply w-[115px] py-[10px] bg-transparent absolute left-0 bottom-0 flex justify-center items-center lg:hidden;
}

.arrow-more {
    @apply z-50 relative;
    filter: invert(100%) sepia(6%) saturate(0%) hue-rotate(115deg) brightness(108%) contrast(108%);
}
