.embla {
    --slide-height: 19rem;
    --slide-spacing: 1rem;
    --slide-size: 80%;

    @media (width >= 768px) {
        --slide-size: 60%;
    }
}

.embla__viewport {
    overflow: hidden;
    margin-bottom: 2rem;
}
.embla__container {
    display: flex;
    margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
    flex: 0 0 var(--slide-size);
    min-width: 0;

    padding-left: var(--slide-spacing);

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 2rem;
}

.embla__slide__number {
    border: 2px solid black;
    width: 100%;
    border-radius: 1.8rem;
    font-size: 4rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--slide-height);
}

.embla__button {
    border-radius: 50%;
    border: 1px solid black;
    padding: 1rem;
    margin-right: 1rem;
}

.embla__button__svg {
    width: 1rem;
}
