
.embla {
    --slide-height: 19rem;
    --slide-spacing: 2rem;
    --slide-size: 70%;
}

.embla__viewport {
    overflow: hidden;
}
.embla__container {
    display: flex;
    margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
    flex: 0 0 var(--slide-size);
    min-width: 0;
    
    padding-left: var(--slide-spacing);

    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 2rem;
}

.embla__slide__number {
    border: 2px solid black;
    width: 100%;
    border-radius: 1.8rem;
    font-size: 4rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--slide-height);
  }

.embla__button {
    border-radius: 4px;
    border: 1px solid black;
    padding: 1rem 2rem;
    margin-right: 1rem;
}

.embla__button__svg {
    width: 1rem;
}